# Data Preparation - Olist

## Data processing

Para esse projeto será necessário a manipulação de alguns arquivos providos que contém os dados para o nosso projeto. Foi disponibilizado o modelo de dados empregado nesse projeto, para o fim deste será utilizado somente os dados sobre os consumidores e as compras realizadas pelos mesmos. 

<img src="model_olist.png">

## 0.0. Imports

In [1]:
import pandas as pd

### 0.1. Loading datasets

In [2]:
df_customers = pd.read_csv('/home/matheus/Documentos/repos/olist/olist/data/raw/olist_customers_dataset.csv')
df_order_items = pd.read_csv('/home/matheus/Documentos/repos/olist/olist/data/raw/olist_order_items_dataset.csv')
df_orders = pd.read_csv('/home/matheus/Documentos/repos/olist/olist/data/raw/olist_orders_dataset.csv')

### 1.0. Merging datasets

In [3]:
df = pd.merge(df_orders, df_order_items, how='left', on='order_id')
df = pd.merge(df, df_customers, how='left', on='customer_id')

In [4]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,1.0,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,1.0,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP

#### 1.1. Check types

In [5]:
df.dtypes

order_id                          object
customer_id                       object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
order_item_id                    float64
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
dtype: object

#### 1.2. Check dimension

In [11]:
df.shape

(113425, 8)

### 2.0. Selecting columns

In [6]:
df = df[['customer_id', 'order_purchase_timestamp', 'price', 'freight_value', 'customer_state', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']]

In [8]:
df.head()

,customer_id,order_purchase_timestamp,price,freight_value,customer_state,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,29.99,8.72,SP,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,118.70,22.76,BA,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,159.90,19.22,GO,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,45.00,27.20,RN,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,19.90,8.72,SP,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

### 3.0. Saving data

In [10]:
df.to_csv('/home/matheus/Documentos/repos/olist/olist/data/interim/pre_processed.csv', index=False)